header {
    display: flex;
    justify-content: space-between;
}

.user-bio h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.user-bio p:first-of-type {
    color: var(--blue);
    margin-bottom: 20px;
}

.user-bio p:nth-of-type(2) {
    color: var(--grey);
}

@media (max-width: 420px) {
    header {
        flex-direction: column;
    }

    .joined {
        margin-top: 12px;
    }
}