.user-info {
  margin-top: 80px;
  justify-content: space-between;
}

.user-info span {
  font-size: 1.25rem;
  margin-left: 20px;
}

i {
  font-size: 20px;
}

.twitter,
.location {
  margin-bottom: 50px;
}

@media (max-width: 420px) {
  .user-info {
    flex-direction: column;
  }

  .user-info span {
    margin-top: 50px;
    font-size: 1rem;
    margin-left: o;
  }

  i {
    font-size: 16px;
  }

  .twitter,
  .location,
  .github,
  .company {
    margin-bottom: 16px;
  }
}
