@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

:root {
  --primary: #141C2F;
  --secondary: #1F2A48;
  --blue: #0C57B1;
  --grey: #878D9B;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Mono', sans-serif;
  background-color: var(--primary);
  color: var(--white);
}

.flex {
  display: flex;
}

a {
  color: var(--white);
  text-decoration: none;
}

.btn-active {
  border: 1px solid var(--white);
}

.button {
  border: 1px solid black;
}